# Python
*.pyc
__pycache__/

# Environment
.env
*.env

# Django
db.sqlite3
/media/
*.log

# Node.js (si applicable)
node_modules/

# IDE
.vscode/
*.sublime-workspace
.idea/

# OS files
.DS_Store
Thumbs.db
