{% extends 'index.html' %}

{% block picontent %}
<h1>Voulez vous Vraiment Faire la suppression de l' Avancements pour le site : {{ site.nomEtab }}</h1>
<h6>Objet : {{ site.objet }}</h6>
<h6>Localite -- Region : {{ site.commune.district.region.name }} -- District : {{ site.commune.district.name }} -- Commune {{ site.commune.name }}</h6>
<h6>Numéro Marché :{{ marche.numMarche }}</h6>
<h6>Batiments : {{ marche.batiment }}</h6>
<h6>Travaux : {{ marche.travaux }}</h6>
<h6>Financement : {{ marche.financement }}</h6>
<h6>OS : {{ marche.os }}</h6>
<h6>Titulaire : {{ marche.Titulaire }} {{ marche.numTitulaire }}</h6>
<h1>Voulez vous Vraiment Faire la suppression de cet Avancement </h1>
<table class="table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>État</th>
            <th>Avancement (%)</th>
            <th>Observation</th>
            <th>Statut (Anterieurs)</th>
            <th>Photos</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ avancement.create_on }}</td>
            <td>{{ avancement.etat }}</td>
            <td>{{ avancement.avancement }}%</td>
            <td>{{ avancement.observation }}</td>
            <td>{% if avancement.n_stat == "O" %}Actuel{% else %}Antérieur{% endif %}</td>
            <td>
                {% if avancement.photo1 %}<img src="{{ avancement.photo1.url }}" width="50">{% endif %}
                {% if avancement.photo2 %}<img src="{{ avancement.photo2.url }}" width="50">{% endif %}
                {% if avancement.photo3 %}<img src="{{ avancement.photo3.url }}" width="50">{% endif %}
                {% if avancement.photo4 %}<img src="{{ avancement.photo4.url }}" width="50">{% endif %}
            </td>
        </tr>
    </tbody>
</table>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <a href="{% url 'delete_avanok' avan_id=avancement.id site_id=avancement.site.id %}" class="btn btn-danger btn-sm">Oui, Supprimer</a>
</form>
<a href="{% url 'view_avancement' site_id=avancement.site.id %}" class="btn btn-success btn-sm">Annuler</a>
{% endblock %}